# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=<database-name-for-saving-obsidian-data>

# Obsidian
OBSIDIAN_VAULT_PATH=<path-to-your-obsidian-vault>

# GitHub
GITHUB_TOKEN=<ghp_xxxxxxxxxxxxxxxxxx-from-PAT>
GITHUB_USERNAME=<your-github-username>