# ==== For branch feature/etl-pipeline and feature/dashboard-ui ====
# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=<database-name-for-saving-obsidian-data>

# Obsidian Vault
OBSIDIAN_VAULT_PATH=<path-to-your-obsidian-local-vault>

# GitHub
GITHUB_TOKEN=<ghp_xxxxxxxxxxxxxxxxxx-from-PAT>
GITHUB_USERNAME=<your-github-username>
GITHUB_MAIL=<your-github-register-mail>

# ccClub Judgement
CCCLUB_USERNAME=<your-ccClub-username>
CCCLUB_PASSWORD=<your-ccClub-password>

# leetcode graphQL API
LEETCODE_USERNAME=<your-leetcode-username>
LEETCODE_ACCOUNT=<your-leetcode-account>
LEETCODE_PASSWORD=<your-leetcode-password>
# 注意：只要瀏覽器有登出、以下兩個cookies就會失效
LEETCODE_SESSION=<session-from-your-browser-cookies>
CSRF_TOKEN=<csrf-from-your-browser-cookies>

# google sheet credential key file，只對地端執行有需求
GS_CREDENTIAL_FILE_PATH=<path-to-json-file>

# ====================================================================

# ==== For branch develop and main ====
# MongoDB ALTAS
MONGO_ALTAS_URI=mongodb+srv://<altas_url_string>
MONGO_DB_NAME=<database-name-for-saving-obsidian-data>

# GitHub
GITHUB_TOKEN=<ghp_xxxxxxxxxxxxxxxxxx-from-PAT>
GITHUB_USERNAME=<your-github-username>
GITHUB_MAIL=<your-github-register-mail>

# ccClub Judgement
CCCLUB_USERNAME=<your-ccClub-username>
CCCLUB_PASSWORD=<your-ccClub-password>

# leetcode graphQL API
LEETCODE_USERNAME=<your-leetcode-username>
LEETCODE_ACCOUNT=<your-leetcode-account>
LEETCODE_PASSWORD=<your-leetcode-password>
# 注意：只要瀏覽器有登出、以下兩個cookies就會失效
LEETCODE_SESSION=<session-from-your-browser-cookies>
CSRF_TOKEN=<csrf-from-your-browser-cookies>

# google sheet credential，改由雲端管理時
GOOGLE_SHEET_KEY=<JSON_KEY_CONTENT> # 直接上傳到 Secret Managers

# ====================================================================
