# ─── Database ──────────────────────────────────────────────────────
MONGO_ALTAS_URI=<Connection-String-to-Atlas>
MONGO_DB_NAME=<database-name-for-saving-obsidian-data>


# ─── Task01 v2 Obsidian Markdown Note ETL ──────────────────────────
# on-premise only
GCS_USER_CREDENTIALS=<path>/<to>/<json-file>.json


# ─── Task02 GitHub REST API ────────────────────────────────────────
GITHUB_TOKEN=<ghp_xxxxxxxxxxxxxxxxxx-from-PAT>
GITHUB_USERNAME=<your-github-username>
GITHUB_MAIL=<your-github-register-mail>


# ─── Task03 leetcode & ccClub ──────────────────────────────────────
# leetcode graphQL API:
LEETCODE_USERNAME=<your-leetcode-username>
# 注意：只要瀏覽器有登出、以下兩個 cookies 就會失效
LEETCODE_SESSION=<session-from-your-browser-cookies>
CSRF_TOKEN=<csrf-from-your-browser-cookies>

# ccClub Judgement:
CCCLUB_USERNAME=<your-ccClub-username>
CCCLUB_PASSWORD=<your-ccClub-password>


# ─── Task05 Google Sheets REST API ─────────────────────────────────
GOOGLE_SHEET_KEY=<json-content-string>_or_<path>/<to>/<json-file>.json


# ─── Task06 ────────────────────────────────────────────────────────
# GCP PROJECT ID:
GCP_PROJECT_ID=<your-gcp-project-id>
# 在地端與 GCS 讀寫互動，雲端部署不需要:
GCS_USER_CREDENTIALS=<path>/<to>/<json-file>.json
# 在地端測試 google-genai-sdk 與 Google GenAI 互動需要的 key，雲端部署不需要:
AGENT_PLATFORM_USER_CREDENTIALS=<path>/<to>/<json-file>.json


# ─── Task07 Bronze ─────────────────────────────────────────────────
ONENOTE_CLIENT_ID=<Azure App Registration Client ID>
ENVIRONMENT=<env_name> # local | dev | prod

# (選填) bucket name for OneNote 筆記:
ONENOTE_GCS_BUCKET=<bucket-name-for-onenote-on-gcs>


# ─── Task07 Silver ─────────────────────────────────────────────────
# GCP_PROJECT_ID=<或可直接與 Task06 那行的 GCP_PROJECT_ID 共用>
# AGENT_PLATFORM_USER_CREDENTIALS=<或可直接與 Task06 那行的 AGENT_PLATFORM_USER_CREDENTIALS 共用>
# GCS_USER_CREDENTIALS=<或可直接與 Task06 那行的 GCS_USER_CREDENTIALS 共用>

# (選填) bucket name for OneNote 筆記:
# ONENOTE_GCS_BUCKET=<或可直接與 Task07 Bronze 那行的 ONENOTE_GCS_BUCKET 共用>


# ─── Task07 Gold ───────────────────────────────────────────────────
# GCS_USER_CREDENTIALS=<或可直接與 Task06 那行的 GCS_USER_CREDENTIALS 共用>

# (選填) bucket name for OneNote 筆記:
# ONENOTE_GCS_BUCKET=<或可直接與 Task07 Bronze 那行的 ONENOTE_GCS_BUCKET 共用>


# ─── Task08 ────────────────────────────────────────────────────────
# GCP_PROJECT_ID=<或可直接與 Task06 那行的 GCP_PROJECT_ID 共用>
# GCS_USER_CREDENTIALS=<或可直接與 Task06 那行的 GCS_USER_CREDENTIALS 共用>
# AGENT_PLATFORM_USER_CREDENTIALS=<或可直接與 Task06 那行的 AGENT_PLATFORM_USER_CREDENTIALS 共用>
# (選填) bucket name for OneNote 筆記:
# ONENOTE_GCS_BUCKET=<或可直接與 Task07 Bronze 那行的 ONENOTE_GCS_BUCKET 共用>


# ─── Streamlit Frontend ──────────────────────────────────────────────────────
# GCP_PROJECT_ID=<或可直接與 Task06 那行的 GCP_PROJECT_ID 共用>
# AGENT_PLATFORM_USER_CREDENTIALS=<或可直接與 Task06 那行的 AGENT_PLATFORM_USER_CREDENTIALS 共用>
# JSON KEY used in "knowledge_factory" & "OneNote_review.py":
GOOGLE_APPLICATION_CREDENTIALS=<path>/<to>/<json-file>.json

# Reranker API KEY used in "ai_knowledge_agent.py":
COHERE_API_KEY=<cohere_API_key>

# Three roles granted to access page "onenote_review.py"
SILVER_ENDPOINT_URL=http://localhost:8002/enrich  # 部署後換成 cloud run service endpoint URL (記得加/enrich)
GOLD_ENDPOINT_URL=http://localhost:8003/archive  # 部署後換成 cloud run service endpoint URL (記得加/archive)

# Three roles granted to access page "onenote_review.py" and "ai_knowledge_agent.py":
ROLE_ML_USERNAME=<username1>
ROLE_ML_PASSWORD=<password1>
ROLE_OWNER_USERNAME=<username2>
ROLE_OWNER_PASSWORD=<password2>
ROLE_SENIOR_USERNAME=<username3>
ROLE_SENIOR_PASSWORD=<password3>
ROLE_GUEST_USERNAME=<username4>
ROLE_GUEST_PASSWORD=<password4>
